Repository cwharris/Morpheus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nv-morpheus/morpheus-codeowners, @nv-morpheus/morpheus-codeowners-eng, @nv-morpheus/morpheus-codeowners-ds

remove unnecessary nvtext includes
  morpheus/_lib/include/nvtext/bpe_tokenize.hpp
  morpheus/_lib/include/nvtext/detail/load_hash_file.hpp
  morpheus/_lib/include/nvtext/detail/tokenize.hpp
  morpheus/_lib/include/nvtext/edit_distance.hpp
  morpheus/_lib/include/nvtext/generate_ngrams.hpp
  morpheus/_lib/include/nvtext/ngrams_tokenize.hpp
  morpheus/_lib/include/nvtext/normalize.hpp
  morpheus/_lib/include/nvtext/replace.hpp
  morpheus/_lib/include/nvtext/stemmer.hpp
  morpheus/_lib/include/nvtext/tokenize.hpp
Owners: @nv-morpheus/morpheus-codeowners-eng

update conda deps
  docker/conda/environments/cuda11.4_dev.yml
Owners: @nv-morpheus/morpheus-codeowners-eng

update cudf version to 22.04, cuda version to 11.5
  CONTRIBUTING.md
  ci/conda/recipes/morpheus/conda_build_config.yaml
  ci/conda/recipes/morpheus/meta.yaml
  cmake/import-rapids-cmake.cmake
  docker/Dockerfile
  docker/conda/environments/cuda11.5_ci.yml
  docker/conda/environments/cuda11.5_dev.yml
  docker/conda/environments/cuda11.5_runtime.yml
Owners: @nv-morpheus/morpheus-codeowners, @nv-morpheus/morpheus-codeowners-eng

register azure/duo source stages and update readme
  examples/digital_fingerprinting/starter/README.md
  morpheus/cli/commands.py
  morpheus/stages/input/azure_source_stage.py
  morpheus/stages/input/duo_source_stage.py
Owners: @nv-morpheus/morpheus-codeowners-eng

.
  cmake/import-rapids-cmake.cmake
  docker/conda/environments/cuda11.5_dev.yml
  morpheus/_lib/include/morpheus/utilities/type_util.hpp
  morpheus/_lib/src/utilities/matx_util.cu
  scripts/compile.sh
Owners: @nv-morpheus/morpheus-codeowners-eng

documentation fixes
  examples/digital_fingerprinting/README.md
  examples/digital_fingerprinting/demo/README.md
  examples/root_cause_analysis/README.md
Owners: @nv-morpheus/morpheus-codeowners-eng

triton 22.10
  docs/source/basics/building_a_pipeline.md
  docs/source/developer_guide/guides/2_real_world_phishing.md
  docs/source/getting_started.md
  examples/abp_nvsmi_detection/README.md
  examples/abp_pcap_detection/README.md
  examples/log_parsing/README.md
  examples/nlp_si_detection/README.md
  examples/ransomware_detection/README.md
  examples/root_cause_analysis/README.md
  examples/sid_visualization/docker-compose.yml
  scripts/validation/val-globals.sh
  scripts/validation/val-utils.sh
Owners: @nv-morpheus/morpheus-codeowners-eng

.
  examples/digital_fingerprinting/demo/README.md
  examples/digital_fingerprinting/demo/bin/start.sh
  examples/doca/README.md
  examples/doca/run.py
Owners: @nv-morpheus/morpheus-codeowners-eng

fix add_morpheus_test to compile all given files
  morpheus/_lib/tests/CMakeLists.txt
Owners: @nv-morpheus/morpheus-codeowners-eng

add oauth mock server and helper scripts
  .devcontainer/bin/dev-oauth-logs
  .devcontainer/bin/dev-oauth-start
  .devcontainer/bin/dev-oauth-stop
  .devcontainer/bin/dev-oauth-test
  .devcontainer/docker-compose.yml
Owners: @nv-morpheus/morpheus-codeowners

replace oauth mock server with ory hydra
  .devcontainer/bin/dev-hydra-logs
  .devcontainer/bin/dev-hydra-run
  .devcontainer/bin/dev-hydra-start
  .devcontainer/bin/dev-hydra-stop
  .devcontainer/bin/dev-kafka-start
  .devcontainer/docker-compose.yml
  tests/test_kafka_oath.py
Owners: @nv-morpheus/morpheus-codeowners, @nv-morpheus/morpheus-codeowners-eng

jdk, jre, databricks-connect
  docker/Dockerfile
  docker/conda/environments/cuda11.8_dev.yml
Owners: @nv-morpheus/morpheus-codeowners-eng

fix typo in filename
  tests/test_kafka_oauth.py
Owners: @nv-morpheus/morpheus-codeowners-eng

get kafka broken trying to connect to oauth server
  .devcontainer/bin/dev-hydra-logs
  .devcontainer/bin/dev-hydra-start
  .devcontainer/bin/dev-kafka-logs
  .devcontainer/docker-compose.yml
  .devcontainer/opt/morpheus/etc/hydra/client-broker.json
  .devcontainer/opt/morpheus/etc/kafka/kafka_server_jaas.conf
  .devcontainer/opt/morpheus/etc/kafka/server.properties
Owners: @nv-morpheus/morpheus-codeowners

simple noop example
  examples/simple/run.py
Owners: @nv-morpheus/morpheus-codeowners-eng

flatmap
  examples/flatmap_example/run.py
Owners: @nv-morpheus/morpheus-codeowners-eng

asyncio
  examples/flatmap_example/run.py
Owners: @nv-morpheus/morpheus-codeowners-eng

out-of-order yields
  examples/flatmap_example/run.py
Owners: @nv-morpheus/morpheus-codeowners-eng

move coroutine tests to mrc
  morpheus/_lib/CMakeLists.txt
  morpheus/_lib/__init__.py
  morpheus/_lib/llm/CMakeLists.txt
  morpheus/_lib/llm/__init__.pyi
  morpheus/_lib/llm/include/py_llm_engine_stage.hpp
  morpheus/_lib/llm/module.cpp
  morpheus/_lib/llm/src/py_llm_lambda_node.cpp
  morpheus/_lib/llm/src/py_llm_node_base.cpp
  morpheus/_lib/llm/src/py_llm_task_handler.cpp
  morpheus/_lib/pycoro/CMakeLists.txt
  morpheus/_lib/pycoro/__init__.pyi
  morpheus/_lib/pycoro/include/pycoro/pycoro.hpp
  morpheus/_lib/pycoro/module.cpp
  morpheus/_lib/pycoro/src/pycoro.cpp
  morpheus/_lib/tests/CMakeLists.txt
  morpheus/_lib/tests/pycoro/CMakeLists.txt
  morpheus/_lib/tests/pycoro/__init__.pyi
  morpheus/_lib/tests/pycoro/module.cpp
  tests/llm/test_pycoro.py
  tests/pycoro/test_pycoro.py
Owners: @nv-morpheus/morpheus-codeowners-eng

use MRC's asynciorunnable
  examples/llm/cli.py
  morpheus/_lib/llm/include/py_llm_engine_stage.hpp
Owners: @nv-morpheus/morpheus-codeowners-eng

basic inference stage scaffolding
  morpheus/_lib/include/morpheus/stages/basic_inference_stage.hpp
  morpheus/_lib/stages/__init__.pyi
  morpheus/_lib/stages/module.cpp
  morpheus/stages/inference/basic_inference_stage.py
  tests/stages/test_basic_inference_stage_pipe.py
Owners: @nv-morpheus/morpheus-codeowners-eng

remove unnecessary code from basic inference stage test
  tests/stages/test_basic_inference_stage_pipe.py
Owners: @nv-morpheus/morpheus-codeowners-eng

add concurrency to triton inference
  morpheus/_lib/src/stages/triton_inference.cpp
Owners: @nv-morpheus/morpheus-codeowners-eng

grpc triton client, not tested
  morpheus/_lib/cmake/libmorpheus.cmake
  morpheus/_lib/include/morpheus/stages/triton_inference.hpp
  morpheus/_lib/src/stages/triton_inference.cpp
  tests/mock_triton_server/config.yml
  tests/mock_triton_server/grpc/mocks/inference/GRPCInferenceService/ModelConfig.mock
  tests/mock_triton_server/grpc/mocks/inference/GRPCInferenceService/ModelMetadata.mock
  tests/mock_triton_server/grpc/mocks/inference/GRPCInferenceService/ModelReady.mock
  tests/mock_triton_server/grpc/mocks/inference/GRPCInferenceService/ServerLive.mock
  tests/mock_triton_server/grpc/mocks/inference/GRPCInferenceService/ServerReady.mock
  tests/mock_triton_server/grpc/protos/grpc_service.proto
  tests/mock_triton_server/grpc/protos/health.proto
  tests/mock_triton_server/grpc/protos/model_config.proto
Owners: @nv-morpheus/morpheus-codeowners-eng

remove unofficial nlohmann json types
  morpheus/_lib/include/morpheus/utilities/json_types.hpp
Owners: @nv-morpheus/morpheus-codeowners-eng

polyfill `get_column_names` which was removed from cudf
  morpheus/_lib/cudf_helpers.pyx
Owners: @nv-morpheus/morpheus-codeowners-eng

fix boost imports
  morpheus/_lib/include/morpheus/utilities/http_server.hpp
  morpheus/_lib/src/io/loaders/rest.cpp
  morpheus/_lib/src/utilities/http_server.cpp
Owners: @nv-morpheus/morpheus-codeowners-eng

use rapids_cpm_* for gbench and gtest
  cmake/dependencies.cmake
Owners: @nv-morpheus/morpheus-codeowners-eng

dont install gtest/gbench
  cmake/dependencies.cmake
Owners: @nv-morpheus/morpheus-codeowners-eng

.github/CODEOWNERS:

# Default Approval rule if one of the later sections does not apply
* @nv-morpheus/morpheus-codeowners

# Engineering is requried for changes to the following:
/ci/       @nv-morpheus/morpheus-codeowners-eng
/cmake/    @nv-morpheus/morpheus-codeowners-eng
/docker/   @nv-morpheus/morpheus-codeowners-eng
/docs/     @nv-morpheus/morpheus-codeowners-eng
/examples/ @nv-morpheus/morpheus-codeowners-eng
/morpheus/ @nv-morpheus/morpheus-codeowners-eng
/scripts/  @nv-morpheus/morpheus-codeowners-eng
/tests/    @nv-morpheus/morpheus-codeowners-eng

# Data Science is requried for changes to `models`
/models/ @nv-morpheus/morpheus-codeowners-ds
